body{
    margin: 0;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
    height: 100vh;
    background-color: #bac7c5;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0bac0;
    border-radius: 30px;
    max-width: 500px;
    overflow: hidden;
    border-style: solid;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: 2px outset black;
    color: black;
    background-color: #e3eceb
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* gap between rows */
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px; /* round corners */
    border: none;
    background-color: #9fc8c2;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #7cafa7;
}
button:active{
    background-color: #548b84; /* flash while clicking */
}

.operator-btn{
    background-color: #db99a3;
}
.operator-btn:hover{
    background-color: #eba2ad;
}
.operator-btn:active{
    background-color: #c57783;
}